
body{
    background-color: rgb(189, 189, 189);
}


a{
    text-decoration: none;
  }
  
  .instagram-card{
      background: #ffffff;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
      width: 100%;
      max-width: 600px;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
  }
  
  .instagram-card-header img{
      
      padding: 20px;
      height: 40px;
  }
  
  .instagram-card-user-image{
      border-radius: 50%;
      width: 40px;
      height: 40px;
      vertical-align: middle;
  }
  
  .instagram-card-time{
      float: right;
      width: 80px;
      padding-top:10px;
      text-align: right;
      color: #999;
  }
  
  .instagram-card-user-name{
      margin-left:20px;
      font-weight:bold;
    color: #262626;
  }
  
  .instagram-card-content{
    padding: 20px;
    
  }
  
  .likes{
    font-weight: bold;
  }
  
  .instagram-card-content-user{
    font-weight: bold;
    color: #262626;
  }
  
  .hashtag{
    color: #003569;
  }
  
  .comments{
    color:#999;
  }
  
  .user-comment{
    color: #003569;
  }
  
  .instagram-card-footer{
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  hr{
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 0px;
   
  }
  
  
  .footer-action-icons{
    font-size: 16px;
    color: #ccc;
  }
  
  .comments-input{
    border: none;
    margin-left: 10px;
    width: 100%;
  }
  
  .fa-2xl{
      vertical-align: -0.8125em;
  }